<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

    <div class="container" id="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-body">
                    <form id="register-form" th:action="@{/users/registration}" method="post" th:object="${User}">
                        <div th:if="${successMessage}" class="alert alert-success" id="messageSuccessRegister"
                             role="alert">
                                <p th:text="${successMessage}">...</p>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger" id="messageErrorRegister"
                             role="alert">
                                <p th:text="${errorMessage}">...</p>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email-reg" tabindex="1"
                                   class="form-control"
                                   placeholder="Email" th:value="*{email}"/>
                            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger">
                                <td th:errors="*{email}">
                                    Email error
                                </td>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password-reg" tabindex="2"
                                   class="form-control" placeholder="Password" th:value="*{password}"/>
                            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
                                <td th:errors="*{password}">Password
                                    error
                                </td>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="firstName" id="firstName" tabindex="4"
                                   class="form-control" placeholder="First Name" th:value="*{firstName}"/>
                            <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger">
                                <td th:errors="*{firstName}">First name
                                    error
                                </td>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastName" id="lastName" tabindex="5"
                                   class="form-control" placeholder="Last Name" th:value="*{lastName}"/>
                            <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger">
                                <td th:errors="*{lastName}">Last name
                                    error
                                </td>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="register-submit" id="register-submit"
                                           tabindex="6" class="form-control btn btn-register"
                                           value="Register"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>