<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
</head>
<body>
    <div id="content">
        <h2>Rooms</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.number}">Number</td>
                    <td th:text="${room.category}">Category</td>
                    <td th:text="${room.pricePerNight}">Price</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>