<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Available rooms</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar-style.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
</head>
<body>
    <div id="content">
        <h2>Available rooms</h2>
        <div class="sidebar">
            <h4>Period</h4>
            <form th:if="${chooseRoom} or ${enterDates}" if th:action="@{/bookings/choose-room}" method="get">
                <p><input type="date" class="form-control" name="startDate" th:value="${startDate}"/></p>
                <p><input type="date" class="form-control" name="endDate" th:value="${endDate}"/></p>
                <input type="submit" th:value="Submit"/>
            </form>
            <form th:if="!${chooseRoom} and !${enterDates}" th:action="@{/rooms/available}" method="get">
                <p><input type="date" class="form-control" name="startDate" th:value="${startDate}"/></p>
                <p><input type="date" class="form-control" name="endDate" th:value="${endDate}"/></p>
                <input type="submit" th:value="Submit"/>
            </form>
        </div>

        <div class="main">
            <p th:if="${enterDates}">Enter dates range first!</p>
            <form th:action="@{/bookings/create}" method="get">
                <table class="table" th:if="!${enterDates}">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Breakfast</th>
                        <th>Cleaning</th>
                        <th th:if="${chooseRoom}"> Choose room</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="room : ${rooms}">
                        <td th:text="${room.number}">Number</td>
                        <td th:text="${room.category}">Category</td>
                        <td th:text="${room.pricePerNight}">Price</td>
                        <td th:if="${#lists.size(room.additionalOptions) == 2 or (#lists.size(room.additionalOptions) == 1 and room.additionalOptions.toArray()[0].getType().toString() == 'BREAKFAST')}">+</td>
                        <td th:unless="${#lists.size(room.additionalOptions) == 2 or (#lists.size(room.additionalOptions) == 1 and room.additionalOptions.toArray()[0].getType().toString() == 'BREAKFAST')}"> </td>
                        <td th:if="${#lists.size(room.additionalOptions) == 2 or (#lists.size(room.additionalOptions) == 1 and room.additionalOptions.toArray()[0].getType().toString() == 'CLEANING')}">+</td>
                        <td th:unless="${#lists.size(room.additionalOptions) == 2 or (#lists.size(room.additionalOptions) == 1 and room.additionalOptions.toArray()[0].getType().toString() == 'CLEANING')}"> </td>
                        <td th:if="${chooseRoom}"><input class="radio" th:required="required" name="roomId" type="radio"
                                   th:value="${room.id}"/></td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <input name="startDate" type="hidden" th:value="${startDate}"/>
                <input name="endDate" type="hidden" th:value="${endDate}"/>
                <input th:if="${chooseRoom}" class="btn btn-light center-block" type="submit" th:value="Submit"/>
            </form>
        </div>
    </div>
</body>
</html>