<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Available rooms</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar-style.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
</head>
<body>
    <div id="content">
        <h2>Available rooms</h2>
        <div class="sidebar">
            <h4>Period</h4>
            <form th:action="@{/rooms/available}" method="get">
                <p><input type="date" class="form-control" name="startDate" th:value="${startDate}"/></p>
                <p><input type="date" class="form-control" name="endDate" th:value="${endDate}"/></p>
                <input type="submit" th:value="Submit"/>
            </form>
        </div>

        <div class="main">
            <table class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.number}">Number</td>
                    <td th:text="${room.category}">Category</td>
                    <td th:text="${room.pricePerNight}">Price</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>